html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
  background-color: blue;
	text-align: center;
}

#wholePage {
  display: inline-block;
	margin: auto;
	padding: auto;
}

#ui {
  display: inline-block;
  background-color: white;
  height: 60%;
  width: 100%;
  margin: 20px;
  border: solid 2px black;
  border-radius: 15px;
}

#playerInfo {
  text-align: center;
  width: 200px;
  height: 150px;
  padding-top: 5px;
  border: solid 2px black;
  border-radius: 15px;
  float: left;
  vertical-align: top;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 15px;
}
#playerAvatar {
  width: 100px;
  margin: 8px;
}

#title {
  text-align: center;
  vertical-align: middle;
  background-color: white;
  width: 100%;
  margin: 20px;
  padding: 2px;
  border: solid black 2px;
  border-radius: 15px;
}

#dicePanel {
  text-align: center;
  width: 300px;
  vertical-align: middle;
  border: solid 3px black;
  border-radius: 15px;
  background-color: green;
  margin-top: 25px;
  margin-left: 480px;
  padding: 25px;
}

#dicePanel img {
  width: 50px;
  border: solid 1px;
}

.saved {
  border-radius: 5px;
	box-shadow: 3px 3px;
}

#scoreCard {
	margin-top: 20px;
  width: auto;
  vertical-align: middle;
	text-align: center;
}

#scoringRules {
  margin: 10px;
  font-size: 1.05em;
}

.bold {
  font-weight: bold;
}

#roll {
  background-color: #258ac4;
  border-radius: 5px;
  padding: 7px;
  font-size: 1.05em;
  color: white;
}

#scoringRules {
  display: block;
  margin-left: 10px;
  text-align: left;
  float: left;
}

li {
  list-style: none;
}

table, tr, td {
  border: solid 2px black;
  margin: auto;
  background-color: white;
  border-collapse: collapse;
}

#scoreHeader {
  text-align: center;
  font-size: 1.1em;
}
