body {
  font-size: 3em;
  margin-top: 80px;
}

.header {
  text-align: center;
  font-weight: bold;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}

img {
  vertical-align: middle;
  margin: auto;
  padding-left: 500px;
}
